{% extends "shop/base.html" %}
{% load static %}
{% block title %}
О Нас
{% endblock %}
{% block content %}
<h1 style="color:#622e41">
    О Нас
</h1>
<h2 style="color:#82404e"> Данный интернет магазин представляет собой техническую модель веб-сайта
    с функциями корзины и каталога.
</h2>
<h3 style="color:#b75d68"> Реализован на языке Python с использованием фреймворка Django.
</h3>
<h4 style="color:#f38b88"> Поддержка: googlemail@gmail.com
</h4>
<h4 style="color:#f6bca1">Или же по номеру телефона +380 00 000 00 00
</h4>

{% endblock %}